.navbar-brand img{

    width: 5%;
}
 
body{
    background-color: rgb(83, 99, 138);
}

.karina{
    height: 100%;
}
.know{
    height: 100%;
}
.navbar{
    background-color: rgb(16, 23, 19);
}
.formpic{
    height: 100%;
}